<!DOCTYPE html>
<html>
    <head>
        <title>Vinyl Records Log In</title>
    </head>
    <body>
        <h1>Log in to see and edit your vinyl collection.</h1>
            <p>
                <form action="/login" method="POST">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required><br></br>

                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required><br></br>

                    <button type="submit">Log In</button><br></br>
                </form>
            <p>Or <a href="signup">sign up</a> to create a record collection.</p>
    </body>
</html>