<!DOCTYPE html>
<html>
    <head>
        <title>Vinyl Collection</title>
    </head>
    <body>
        <h1>Here is your Vinyl Collection</h1>

        <ul><%= @vinyls.each do |vinyl| %>
            <li><%= vinyl %></li>
        </ul>
        
        <p><a href="/create_vinyl">Add another record to your collection.</a></p>
    </body>
</html>