<!DOCTYPE html>
<html>
    <head>
        <title>Vinyl Collection</title>
    </head>
    <body>
        <h1><%= @vinyl.album_name %></h1>
        <h2>By: <%= @vinyl.artist_name %></h2>
        <p>Current Condition: <%= @vinyl.vinyl_condition %></p>

        <p><button type="submit"><a href="/edit_vinyl">Edit Record</a></button></p>
        
        <button type="submit"><a href="/vinyl">Back to My Collection</a></button><br></br>
    </body>
</html>