<!DOCTYPE html>
<html>
    <head>
        <title>Vinyl Collection</title>
    </head>
    <body>
        <h1>#name of album here
        </h1>

        <p><button type="submit"><a href="/edit_vinyl">Edit Record</a></button></p>
        #add delete button here
        <button type="submit"><a href="/logout">Log Out</a></button><br></br>
    </body>
</html>