<!DOCTYPE html>
<html>
    <head>
        <title>Vinyl Collection</title>
    </head>
    <body>
        <h1>#name of album here
        </h1>

        <button type="submit"><a href="/logout">Log Out</a></button><br></br>
    </body>
</html>