<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Vinyl Records Homepage</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1 align="center">Welcome to Vinyl Records!</h1>

        <h2 align="center">An easy way to keep a record of all your records.</h2>

            <p align="center">
                <button type="button" name="login" id="login"><a href="/login">Log In</a></button> or 
                <button type="button" name="signup" id="signup"><a href="/signup">Sign Up</a></button>
            </p>
        
    </body>
</html>